{%- if theme_links %}
<h3>Quick Links</h3>
<ul>
    {% if theme_links['pypi'] %}
    <li><a href="{{ theme_links['pypi'] }}">Releases on PyPI</a></li>
    {% endif %}
    {% if theme_links['github'] %}
    <li><a href="{{ theme_links['github'] }}">Source on GitHub</a></li>
    <li><a href="{{ theme_links['github'] }}/issues">Issue Tracker</a></li>
    {% endif %}
    {% if theme_links['demo'] %}
    <li><a href="{{ theme_links['demo'] }}">Live Demo</a></li>
    {% endif %}
    {% if theme_links['mail'] %}
    <li><a href="{{ theme_links['mail'] }}">Mailing List</a></li>
    {% endif %}
</ul>
{% if theme_links['github'] and theme_forkme %}
<a href="{{ theme_links['github'] }}">
    <img style="position: absolute; top: 0; {{ theme_forkme }}: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_{{ theme_forkme }}_darkblue_121621.png" alt="Fork me on GitHub">
</a>
{% endif %}
{% endif %}
<p class="logo sponsor">
    <a href="http://www.caktusgroup.com/services/">
        <img class="logo" src="{{ pathto('_static/caktus-logo.png', 1) }}" alt="Caktus Consulting Group"/>
    </a>
</p>
<p class="sponsor">Development of this project is sponsored by <a href="http://www.caktusgroup.com">Caktus Consulting Group, LLC</a>.
You can see more of our projects on our <a href="https://github.com/caktus">Github page</a>.</p>
